[Desktop Entry]
Name=JD 2ch browser
Comment=JD is a 2ch browser based on gtkmm2.
Exec=jd
Icon=jd.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network
