[Desktop Entry]
Exec=jdim
Icon=jd
Terminal=false
Type=Application
Name=JDim 2ch browser
Name[ja]=2ch ブラウザ JDim
Comment=JDim is a 2ch browser based on gtkmm.
Comment[ja]=gtkmm を利用した 2ch ブラウザ
Categories=Network;
