<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="main.xsl"?>

<document header="設定ファイル" modified="20070307">

<p>キャッシュディレクトリは環境変数 JD_CACHE で指定する。例えば</p>

<p class="example">JD_CACHE=~/.jdcache ./jd</p>

<p>の様にする。指定が無ければ ~/.jd を使用する。</p>

<p>設定メニューにない設定項目は、設定ファイル(~/.jd/jd.conf)を直接編集して設定する。</p>
<p>ある設定をデフォルト値に戻したい場合は設定ファイルの対象列を削除してからJDを起動する。</p>
<p>デフォルト値は src/array/globalconf.cpp の array::init_array()　関数に書いてある。</p>

<p class="red">(注意) </p>
<p>
以下の設定はJD終了時に上書きされるのでJDを終了してから書き換えること。<br />
設定が無い場合は一度JDを起動してから終了させると現れる。
</p>

<array header="・ネットワーク">
<item>
    <key class="blue">url_bbsmenu</key> 
    <value>板一覧を取得するサーバ</value>
</item>
<item>
    <key class="blue">agent_for2ch</key>
    <value>2chにアクセスするときのエージェント名</value>
</item>
<item>
    <key class="blue">agent_for_data</key>
    <value>2ch以外のサーバにアクセスするときのエージェント名</value>
</item>
<item>
    <key class="blue">x_2ch_ua</key>
    <value>ログイン認証サーバにアクセスするときのエージェント名</value>
</item>
<item>
    <key class="blue">loader_timeout</key>
    <value>スレの読み込み時のタイムアウト値(秒)</value>
</item>
<item>
    <key class="blue">loader_timeout_post</key>
    <value>書き込み時のタイムアウト値(秒)</value>
</item>
<item>
    <key class="blue">loader_timeout_img</key>
    <value>画像ロード時のタイムアウト値(秒)</value>
</item>
<item>
    <key class="blue">loader_bufsize</key>
    <value>ダウンローダのバッファサイズ(kbyte)</value>
</item>
<item>
    <key class="blue">use_ipv6</key>
    <value>ipv6を使用する</value>
</item>
</array>


<array header="・板一覧、スレ一覧">
<item>
    <key class="blue">tree_scroll_size</key>
    <value>ツリービューでマウスホイールを回したときのスクロール量(行数)</value>
</item>
<item>
    <key class="blue">open_one_category</key>
    <value>板一覧でカテゴリを常にひとつだけ開く</value>
</item>
<item>
    <key class="blue">newthread_hour</key>
    <value>指定した値(時間)よりも後に立てられたスレを新着とみなす</value>
</item>
<item>
    <key class="blue">use_tree_gtkrc</key>
    <value>ツリービューの背景色設定にgtkrcを用いる</value>
</item>
<item>
    <key class="blue">tree_ypad</key>
    <value>行間スペース</value>
</item>
</array>


<array header="・スレビュー">
<item>
    <key class="blue">scroll_size</key>
    <value>スレビューでマウスホイールを回したときのスクロール速度</value>
</item>
<item>
    <key class="blue">margin_popup</key>
    <value>ポップアップとカーソルの間のマージン(ピクセル)</value>
</item>
<item>
    <key class="blue">instruct_popup</key>
    <value>0以上なら多重ポップアップの説明を表示する</value>
</item>
<item>
    <key class="blue">refpopup_by_mo</key>
    <value>レス番号の上にマウスオーバーしたときに参照ポップアップ表示する</value>
</item>
<item>
    <key class="blue">keypopup_by_mo</key>
    <value>下線の引いてある「名前」の上にマウスオーバーしたときにポップアップ表示する</value>
</item>
<item>
    <key class="blue">idpopup_by_mo</key>
    <value>IDの上にマウスオーバーしたときにIDをポップアップ表示する</value>
</item>
<item>
    <key class="blue">instruct_tglart</key>
    <value>スレビューとスレ一覧の切り替え方法説明ダイアログを表示する</value>
</item>
<item>
    <key class="blue">instruct_tglimg</key>
    <value>画像ビューとスレビューの切り替え方法説明ダイアログを表示する</value>
</item>
<item>
    <key class="blue">draw_underline</key>
    <value>スレ表示のリンクの下線を表示する</value>
</item>
<item>
    <key class="blue">adjust_underline_pos</key>
    <value>スレ表示のリンクの下線の位置を調整する</value>
</item>
<item>
    <key class="blue">adjust_line_space</key>
    <value>スレ表示の行間スペースを調整する</value>
</item>
<item>
    <key class="blue">ref_prefix</key>
    <value>レスを参照コピーするときに前に付ける文字列</value>
</item>
<item>
    <key class="blue">ref_prefix_space</key>
    <value>ref_prefixの後のスペースの数</value>
</item>
<item>
    <key class="blue">hide_usrcmd</key>
    <value>選択不可のユーザコマンドを非表示にする(gtkmm26以上)</value>
</item>
<item>
    <key class="blue">max_show_usrcmd</key>
    <value>ユーザコマンド数が指定した数以上の時はサブメニュー表示にする</value>
</item>
<item>
    <key class="blue">loose_url</key>
    <value>RFC規定外の文字(^など)もURL判定に用いる</value>
</item>
</array>


<array header="・書き込みウィンドウ">
<item>
    <key class="blue">always_write_ok</key>
    <value>書き込み時に確認ダイアログを表示しない</value>
</item>
<item>
    <key class="blue">hide_writing_dialog</key>
    <value>書き込み中ダイアログを表示しない</value>
</item>
</array>

<array header="・画像">
<item>
    <key class="blue">imgpopup_width</key>
    <value>画像ポップアップの幅(ピクセル)</value>
</item>
<item>
    <key class="blue">imgpopup_height</key>
    <value>画像ポップアップの高さ(ピクセル)</value>
</item>
<item>
    <key class="blue">zoom_to_fit</key>
    <value>画像を開いたときにウィンドウサイズに合わせる</value>
</item>
<item>
    <key class="blue">max_img_size</key>
    <value>ダウンロードする画像の最大サイズ(Mbyte)</value>
</item>
<item>
    <key class="blue">use_imge_view</key>
    <value>画像のリンクをクリックした時に画像ビューで表示する</value>
</item>
</array>


<array header="・その他">
<item>
    <key class="blue">mouse_radius</key>
    <value>マウスジェスチャの判定開始半径</value>
</item>
<item>
    <key class="blue">history_size</key>
    <value>履歴の保持数</value>
</item>
<item>
    <key class="blue">ab_min_str</key>
    <value>タブに表示する文字列の最小文字数</value>
</item>
<item>
    <key class="blue">show_tab_icon</key>
    <value>タブにアイコンを表示する</value>
</item>
<item>
    <key class="blue">restore_board</key>
    <value>起動時に開いていたスレ一覧を復元する</value>
</item>
<item>
    <key class="blue">restore_article</key>
    <value>起動時に開いていたスレを復元する</value>
</item>
<item>
    <key class="blue">restore_image</key>
    <value>起動時に開いていた画像を復元する</value>
</item>
</array>

<p>キー割り当てを変えるにはキャッシュフォルダにある item.conf を編集する。</p>
<p>マウスボタン割り当てを変えるにはキャッシュフォルダにある button.conf を編集する。</p>
<p>割り当てをデフォルトに戻したいときは各設定ファイルを削除してからJDを起動する。</p>

<p>マウスジェスチャの設定を変えるにはキャッシュフォルダにある mouse.conf を編集する。</p>
<p>最大ストロークは5で、判定開始半径は設定ファイル(~/.jd/jd.conf)の mouse_radius の値を変える</p>

<pre>     ８
     ↑
４ ←  → ６
     ↓
     ２
</pre>

<p>( 例 ) ↑→↓← = 8624</p>

</document>
